body{
    height: 200vh;
    width: 99vw;
    background-color: rgb(230, 230, 230);
}

header{
    height: 50px;
    background-color: rgb(56, 115, 49);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px;
}

.profile-img {
    max-height:40px
}

nav{
    width: 300px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(230, 230, 230);
}

.login{
    display: flex;
    flex-direction: column;
}

.input{
    margin: 5px;
}

button{
    width: 60px;

}

.login-wrapper {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}

section {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 2px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: flex-end;
}